<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>

<script>
    $(document).ready(function(){
        $('#date').change(function() {
            date_value = $('#date').val()
            console.log(date_value)
            $.ajax({url: "/button", data: {date: date_value}}).done(function(data) {
                $('#display').html('<img src="static/output/'+date_value+'.png" style="width:100%" />');
            });
        });
        $('#date').change();
    });
</script>

<div style='text-align: center;'>
    <input type="date" id="date" value="{{ last_date }}" min="2016-01-01" max="{{ last_date }}">
</div>
<!-- <input id='button' type="button" value="Search"> -->
<div id='display'></div>